.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
}

.heading-home {
  color: #ffffff;
  font-size: 60px;
}

.description-home {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
}

.button-Find{
    background-color: #4f46e5;
}
