.bg-container-Login {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-card-form {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 300px;
}

.image-logo {
  width: 150px;
  margin-bottom: 30px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.label-input {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 13px;
  padding-bottom: 10px;
}

.input-Element {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 20px;
  border: 2px solid #cbd5e1;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
}

.button-Login {
  background-color: #4f46e5;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-family: 'Roboto';
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.error-msg {
  color: #ffffff;
}
